<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myStyle.css">
</head>
<style>
    
    input,button{
        font-size: 30px;
        padding: 10px;
        margin: 10px;
    }
</style>
<body>
    
   
  <form  action="/"  method ="post">
      <h1>What is Your Name?</h1>
      <input name="userName"/>
      <h1> <%= arr.at(-1).userName %></h1> 
      <br>
      <button> Add To DB</button>
  </form >
</body>
</html>